<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">


<menuitem name="MyOrder-menu" title="My Order" icon="fas fa-shopping-cart" icon-background="pink" />
 
  <menuitem name="menu-myorder-friends" parent="MyOrder-menu" title="Create Order" icon="fa-duotone fa-cart-plus" icon-background="brown" action="order.all"/>  
 
    <action-view name="order.all" title="All Orders" model="com.axelor.demo.db.Order"> 
	  <view type="kanban" name="order-kaban"/>
      <view type="grid" name="order-grid"/> 
      <view type="form" name="order-form"/>
    </action-view>

</object-views>