*.xml
*.jar
*.war
*.zip
*.gitattributes
*.classpath
*.lock
*.bin
*.properties
*.txt
*.project
*.prefs
*.component
*.class
*.MF
*.bat
*.tar

bin/**
tmp/**
tmp/**/*
/gradlew
.metadata
local.properties
.classpath
.settings/
.loadpath
