<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">


<!-- My Order menu -->
<menuitem name="MyOrder-menu" title="My Order" icon="fas fa-shopping-cart" icon-background="pink" ></menuitem>
 
  <menuitem name="menu-myorder-friends" parent="MyOrder-menu" title="Create Order" icon="fa-duotone fa-cart-plus" icon-background="brown" action="order.all"/>  
 
    <action-view name="order.all" title="All Orders" model="com.axelor.app.db.Order"> 
      <view type="grid" name="order-grid"/> 
      <view type="form" name="order-form"/>
      <view type="kanban" name="order-kaban" />
    </action-view>
<!--  <menuitem name="menu-kanban" parent="MyOrder-menu" title="anbans" icon="fa-duotone fa-cart-plus" action="kanban.all"/>   -->
 
<!--     <action-view name="kanban.all" title="kanbans" model="com.axelor.app.db.Order">  -->

<!--     </action-view> -->
  
  
  
<!-- Mobiles parent-menu -->
<menuitem name="AllMobiles-menu" title="Mobiles" icon="fas fa-mobile" icon-background="violet" />

  <menuitem name="Allmobiles-parent-menu" title="Select Mobile" parent="AllMobiles-menu" icon="fas fa-mobile" icon-background="orange" action="mobiles.all"/>

    <action-view name="mobiles.all" title="All Mobiles" model="com.axelor.app.db.Mobiles">
	   <view type="grid" name="mobiles-grid"/>
       <view type="form" name="mobiles-form"/>
	</action-view>
	
<!-- SmartPhones child-menu -->  
	
  <menuitem name="Allsmartphones-child-menu" title="Select SmartPhones" parent="AllMobiles-menu" icon="fas fa-mobile" icon-background="blue" action="smartphones.all"/>

       <action-view name="smartphones.all" title="All SmartPhones" model="com.axelor.app.db.SmartPhones">
	      <view type="grid" name="smartphones-grid"/>
          <view type="form" name="smartphones-form"/>
	   </action-view>
	   
<!-- AndroidPhones grandchild-menu -->  
    <menuitem name="Allandroidphones-grandchild-menu" title="Select AndroidPhones" parent="AllMobiles-menu" icon="fas fa-mobile" icon-background="pink" action="androidphones.all"/>
	
	   <action-view name="androidphones.all" title="All AndroidPhones" model="com.axelor.app.db.AndroidPhones">
	      <view type="grid" name="androidphones-grid"/>
          <view type="form" name="androidphones-form"/>
	   </action-view>




<!-- tree view menu -->
<!-- <menuitem name="TreeView-menu" title="TreeView" parent="AllMobiles-menu" action="treeview.all"/> -->
	
	   <action-view name="treeview.all" title="All TreeView">
          <view type="tree" name="All-Mobiles-Tree"/>
	   </action-view>


<!-- kanban required actions -->
     <action-view name="onnew.action" title="onnew kanbanAction">
            <view type="form" name="mobiles-form"/>
	   </action-view>



<!-- card menu -->
<!-- <menuitem name="CardsView-menu" title="CardsView" parent="LoginDetails-menu" action="cardsview.all"/> -->
	
<!-- 	   <action-view name="cardsview.all" title="Cards View" model="com.axelor.app.db.LoginDetails"> -->
<!--           <view type="cards" name="login-cards" /> -->
<!-- 	   </action-view> -->


<!-- master-details view -->
<action-view name="two.login.view" model="com.axelor.app.db.LoginDetails" title="MasterView">
  <view name="logindetails-grid" type="grid" /> 
  <view-param name="details-view" value="true" /> 
</action-view>


<!-- login menu -->
<menuitem name="LoginDetails-menu" title="Log in" icon="fa-solid fa-user" icon-background="green" /> 

  <menuitem name="menu-logindetails-friends" parent="LoginDetails-menu" title="Fill Login Details" icon="fas fa-user-plus" icon-background="blue" action="logindetails.all"/>   

    <action-view name="logindetails.all" title="All Login Details" model="com.axelor.app.db.LoginDetails"> 
       <view type="grid" name="logindetails-grid"/> 
        <view type="form" name="logindetails-form"/>
       <view type="cards" name="login-cards"/> 
    </action-view>


</object-views>